h2 {
 text-transform:capitalize;
 margin:0;
 text-align:center
}
h3 {
 text-transform:capitalize
}
.chapterlink {
 text-transform:capitalize;
 float:left;
 max-width:340px;
 text-overflow:ellipsis;
 overflow:hidden;
 white-space:nowrap;
 width:100%;
 margin:2px;
 min-width:250px;
 font-size:16px
}
body {
 color:#000
}
.namewd {
 z-index:100;
 background-color:#fff;
 visibility:hidden;
 position:fixed;
 right:0;
 border:1px solid gray;
 top:0;
 min-width:360px;
 width:20%;
 height:411px
}
#toolbar {
 height:28px
}
#namewd {
 height:130px;
 width:100%;
 border:none;
 padding:0;
 resize:none;
 font-size:12px
}
button.toolbar {
 float:left;
 border-radius:0;
 border:none;
 margin:2px;
 background:0 0;
 border-bottom:2px solid gray;
 padding:3px;
 font-size:14px
}
button.toolbar:hover {
 background-color:#d2d2d2
}
button.toolbar:active {
 background-color:#adadad
}
.showname {
 position:fixed;
 right:12px
}
input,
button,
textarea {
 -webkit-appearance:none;
 -webkit-border-radius:0
}
.mainbarbt {
}
.host {
 text-align:left;
 border:2px solid gray;
 font-size:18px;
 font-family:sans-serif;
 padding:4px;
 color:#00bcd4
}
.book .bookpr {
 position:absolute;
 z-index:10;
 font-size:14px;
 line-height:18px;
 visibility:hidden;
 max-width:600px;
 background-color:#f1f1f1;
 text-align:justify;
 left:0;
 top:100%;
 padding:2px;
 box-shadow:2px 2px 2px gray;
 max-height:240px
}
.config {
 width:40px;
 position:relative
}
.configwd {
 position:absolute;
 z-index:10;
 border:1px solid #000;
 font-size:14px;
 padding:2px;
 visibility:hidden;
 background-color:#f1f1f1;
 text-align:justify;
 right:0;
 top:100%
}
.book:hover .bookpr {
 visibility:visible
}
.book {
 position:relative;
 margin-top:8px;
 margin-left:1%;
 height:120px;
 min-width:360px;
 width:49%;
 float:left;
 background-color:#f6fdcb
}
.bookthumb {
 float:left;
 width:20%;
 height:108px;
 margin-top:6px;
 margin-left:6px
}
.booktitle {
 text-transform:capitalize;
 float:left;
 max-height:31;
 white-space:nowrap;
 overflow:hidden;
 width:96%;
 text-overflow:ellipsis;
 margin-left:6px;
 font-family:sans-serif;
 font-size:18px
}
.bookauthor {
 text-transform:capitalize;
 float:left;
 margin-left:6px;
 font-size:14px;
 height:18px;
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden
}
.book:hover {
 cursor:pointer;
 background-color:#c1cccc
}
.clear {
 height:0;
 clear:both
}
.bookview {
 white-space:nowrap;
 overflow:hidden;
 font-size:14px;
 margin-left:6px;
 margin-top:6px;
 margin-bottom:2px;
 text-overflow:ellipsis;
 height:18px
}
.cgcolor {
 border:1px solid gray;
 width:20px;
 font-size:20px;
 height:20px;
 display:inline-block
}
button {
 border-radius:4px;
 border:1px solid #a29f9f;
 background-color:#f3f3f3
}
td,
th {
 border:1px solid gray
}
table {
 table-layout:fixed;
 font-size:12px
}
.fastname {
}
.c-tab {
 float:left;
 padding:5px;
 text-align:left;
 color:#337ab7;
 margin-right:20px
}
.homelink {
 font-size:16px;
 float:left;
 word-spacing:-10px;
 margin-bottom:5px
}
hr {
 margin-top:0
}
* {
 -webkit-overflow-scrolling:touch
}
a {
 color:#080
}
.cap {
 text-transform:capitalize
}
a:hover {
 color:#0056b3;
 text-decoration:none;
 transition:color .5s linear
}
.lgdlg {
 position:fixed;
 bottom:100%;
 left:0;
 opacity:0;
 width:100%;
 height:100%;
 background-color:#00000075;
 transition:opacity .15s linear,bottom .15s linear
}
.lgdlg:target {
 bottom:0%;
 opacity:1
}
.d91 {
 text-align:left;
 width:90%;
 margin-left:5%;
 margin-top:5px
}
.d90 {
 padding:6px;
 box-shadow:0 0 1px grey;
 border-radius:8px;
 text-align:left;
 width:100%;
 display:flex;
 margin:10px auto
}
.d90 button {
 background:0 0;
 border:none;
 cursor:pointer;
 color:blue
}
.d90 a {
 overflow:hidden;
 max-width:200px;
 display:inline-block;
 text-overflow:ellipsis;
 white-space:nowrap
}
.d902 {
 padding:6px;
 border-radius:8px;
 text-align:left;
 width:100%;
 display:flex;
 margin:10px auto
}
.d902 button {
 background:0 0;
 border:none;
 cursor:pointer;
 color:blue
}
.d902 a {
 overflow:hidden;
 max-width:200px;
 display:inline-block;
 text-overflow:ellipsis;
 white-space:nowrap
}
.item[sel=true]:before {
 display:block;
 width:32px;
 height:32px;
 position:absolute;
 font-family:"font awesome 5 pro";
 font-weight:800;
 content:"\f14a";
 font-size:20;
 text-shadow:0 0 3px #fff;
 color:green
}
span[tag="2"] {
 color:gray;
 text-shadow:0 0 3px gray
}
span[tag="3"] {
 color:blue;
 aanimation:lv3 1s linear infinite alternate;
 text-shadow:0 0 12px blue
}
span[tag="4"] {
 color:#e661fa;
 aanimation:lv4 1s linear infinite alternate;
 text-shadow:0 0 12px #e661fa
}
span[tag="5"] {
 font-weight:800;
 background:url(https://media.giphy.com/media/3qXi5eIvcgCmTDObOU/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center;
 text-shadow:0 0 16px #ff0
}
span[tag="6"] {
 font-weight:900;
 background:url(http://giphygifs.s3.amazonaws.com/media/5xtDarBgMErSWLOFHAA/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center;
 dtext-shadow:0 0 16px red
}
span[tag="7"] {
 font-weight:900;
 background:url(/vothanh.gif);
 color:transparent;
 -webkit-background-clip:text;
 text-shadow:0 0 12px #3bffcb;
 background-size:cover;
 background-position:center
}
span[tag="8"] {
 font-weight:900;
 background:url(https://media.giphy.com/media/xThtaklgRUvTMs1xmM/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 text-shadow:0 0 12px #cee8ff;
 background-size:cover;
 background-position:center
}
span[tag="9"] {
 font-weight:900;
 background:url(https://media0.giphy.com/media/3o7bud4Ujk6S6MrKGQ/giphy.webp);
 color:transparent;
 -webkit-background-clip:text;
 text-shadow:0 0 12px #eee;
 background-size:cover;
 background-position:center
}
span[tag="11"] {
 font-weight:900;
 background:url(https://media.giphy.com/media/ceCgIb3Pw5xbq/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center;
 text-shadow:2px 2px 2px #ffffff1f,-2px -2px 4px #ffffff1f,2px -2px 4px #ffffff1f,-2px 2px 2px #ffffff1f
}
span[tag="12"] {
 -font-weight:500;
 -color:#fff;
 -text-shadow:2px 2px 2px #000,-2px -2px 4px #000,2px -2px 4px #000,-2px 2px 2px #000
}
span[tag="13"] {
 font-weight:900;
 background:url(https://media.giphy.com/media/3oxRmmENQPekq4N02c/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center;
 text-shadow:0 4px 16px purple
}
span[tag="14"] {
 font-weight:900;
 background:url(https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center;
 text-shadow:0 4px 2px rgba(255,0,0,.5)
}
span[tag="15"] {
 font-weight:900;
 background:url(https://media.giphy.com/media/3o7aD4pR1HbHJFTBF6/giphy.gif);
 color:transparent;
 -webkit-background-clip:text;
 background-size:cover;
 background-position:center
}
@keyframes lv3 {
 from {
  text-shadow:0 0 2px blue
 }
 to {
 }
}
@keyframes lv4 {
 from {
  text-shadow:0 0 2px #e661fa
 }
 to {
 }
}
@keyframes lv5 {
 from {
  text-shadow:0 0 8px #a0a000
 }
 to {
 }
}
[hd] {
 font-size:0
}
[s]:after {
 content:attr(s)
}
.contentbox i {
 font-style:normal;
 position:relative
}
.row-eq-height {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.nb {
 padding:5px;
 position:relative;
 box-shadow:0 0 0 #000;
 transition:box-shadow .3s linear
}
.nb:hover {
 box-shadow:0 4px 8px #000
}
#nsbox {
 font-size:12px;
 position:absolute;
 top:100%;
 right:0;
 background-color:#fff;
 z-index:100;
 width:300px;
 color:#000;
 border:1px solid #000;
 border-radius:6px;
 padding:0 15px
}
#onlinebox {
 transform:rotateX(0)
}
.roundblock {
 margin-bottom:4px;
 display:flex;
 padding:3px;
 height:50px;
 background-color:#f8f9fa;
 padding-left:10px
}
.roundblock .title {
 width:100%;
 color:#000;
 font-size:14px;
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden
}
.roundblock .content {
 color:gray;
 font-size:12px;
 text-overflow:ellipsis;
 white-space:nowrap;
 overflow:hidden
}
.roundblock .btngroup {
 display:flex;
 float:right;
 padding:4px;
 line-height:50px
}
.roundblock .btngroup .btn {
 margin-left:4px;
 width:36px;
 height:36px;
 text-align:center;
 background-color:#e2e2e2
}
.item {
 display:inline-block;
 position:relative;
 width:32px;
 height:32px;
 border:1px solid gray;
 cursor:default
}
.item[ac=true] {
 border:3px dashed red!important
}
.item[l="5"]:not([tag="1"]) {
 border:2px solid #ffa200
}
.item[l="6"]:not([tag="1"]) {
 border:2px solid #ff0
}
.item[l="7"]:not([tag="1"]) {
 border:2px double #07f747;
 border-radius:8px
}
.item[l="8"]:not([tag="1"]) {
 border:2px double #00aeff;
 border-radius:8px
}
.item[l="9"]:not([tag="1"]) {
 border:2px double #b0f;
 border-radius:8px
}
.item[l="10"]:not([tag="1"]) {
 border:2px double #ffa200;
 border-radius:8px
}
.item[l="3"]:not([tag="1"]) {
 border:2px solid #00aeff
}
.item[l="4"]:not([tag="1"]) {
 border:2px solid #b0f
}
.item[l="2"]:not([tag="1"]) {
 border:2px solid #07f747
}
.item .iinfo {
 position:absolute;
 display:none;
 top:100%;
 left:0;
 z-index:10;
 background-color:rgba(0,0,0,.7);
 border:1px solid #000;
 border-radius:6px;
 font-size:12px;
 color:#fff;
 min-width:180px
}
.item[tag="1"] {
 background-image:url(/linhthach.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center center
}
.item[tag="2"] {
 background-image:url(/danduoc.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center center
}
.item[tag="3"] {
 background-image:url(/congphap.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center center
}
.item[tag="4"] {
 background-image:url(/vuky.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:center center
}
.item[e="19"] {
 background-image:url(/asset/hoa.jpg)
}
.item[e="20"] {
 background-image:url(/asset/thuy.jpg)
}
.item[e="21"] {
 background-image:url(/asset/kim.jpg)
}
.item[e="22"] {
 background-image:url(/asset/moc.jpg)
}
.item[e="23"] {
 background-image:url(/asset/tho.jpg)
}
.item[e="24"] {
 background-image:url(/asset/phong.jpg)
}
.item[e="25"] {
 background-image:url(/asset/loi.jpg)
}
.item[e="26"] {
 background-image:url(/asset/quang.jpg)
}
.item[e="27"] {
 background-image:url(/asset/bang.jpg)
}
.item[e="28"] {
 background-image:url(/asset/am.jpg)
}
.item[tag="7"] {
 border:2px solid red
}
.info {
 width:100%;
 position:absolute;
 top:5px;
 padding:5px;
 display:block
}
.item:hover .iinfo {
 display:block
}
.info span {
 display:inline-block;
 color:#106b01;
 background-color:#ffffffe0;
 border-radius:6px;
 padding:4px
}
.bubble {
 display:block;
 position:absolute;
 cursor:pointer
}
.bubble:hover:after {
 background-color:red
}
.bubble:after {
 content:"";
 background-color:green;
 width:8px;
 height:8px;
 border-radius:50%;
 position:absolute;
 display:block;
 top:1px;
 left:1px
}
.bubble .bubble-outer-dot {
 margin:1px;
 display:block;
 text-align:center;
 opacity:1;
 background-color:rgba(0,255,0,.4);
 width:8px;
 height:8px;
 border-radius:50%;
 -webkit-animation:bubble-pulse 1.5s linear infinite;
 -moz-animation:bubble-pulse 1.5s linear infinite;
 -o-animation:bubble-pulse 1.5s linear infinite;
 animation:bubble-pulse 1.5s linear infinite
}
.bubble .bubble-inner-dot {
 display:block;
 text-align:center;
 opacity:1;
 background-color:rgba(0,255,0,.4);
 width:8px;
 height:8px;
 border-radius:50%;
 -webkit-animation:bubble-pulse 1.5s linear infinite;
 -moz-animation:bubble-pulse 1.5s linear infinite;
 -o-animation:bubble-pulse 1.5s linear infinite;
 animation:bubble-pulse 1.5s linear infinite
}
.bubble .bubble-inner-dot:after {
 content:"";
 display:block;
 text-align:center;
 opacity:1;
 background-color:rgba(0,255,0,.4);
 width:8px;
 height:8px;
 border-radius:50%;
 -webkit-animation:bubble-pulse 1.5s linear infinite;
 -moz-animation:bubble-pulse 1.5s linear infinite;
 -o-animation:bubble-pulse 1.5s linear infinite;
 animation:bubble-pulse 1.5s linear infinite
}
@-webkit-keyframes bubble-pulse {
 0% {
  transform:scale(1);
  opacity:.75
 }
 25% {
  transform:scale(1);
  opacity:.75
 }
 100% {
  transform:scale(2.5);
  opacity:0
 }
}
@keyframes bubble-pulse {
 0% {
  transform:scale(1);
  opacity:.75
 }
 25% {
  transform:scale(1);
  opacity:.75
 }
 100% {
  transform:scale(2.5);
  opacity:0
 }
}
@-moz-keyframes bubble-pulse {
 0% {
  transform:scale(1);
  opacity:.75
 }
 25% {
  transform:scale(1);
  opacity:.75
 }
 100% {
  transform:scale(2.5);
  opacity:0
 }
}
@-o-keyframes bubble-pulse {
 0% {
  transform:scale(1);
  opacity:.75
 }
 25% {
  transform:scale(1);
  opacity:.75
 }
 100% {
  transform:scale(2.5);
  opacity:0
 }
}
#center-div {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 margin:auto;
 width:14px;
 height:14px
}
.listchapitem {
 overflow:hidden;
 display:block;
 text-overflow:ellipsis;
 white-space:nowrap;
 border-bottom:1px dashed #eee;
 padding:6px
}
#menunavigator {
 font-size:16px;
 position:absolute;
 top:100%;
 right:-40px;
 background:#fff;
 padding:6px;
 box-shadow:grey 0 0 4px;
 z-index:30
}
#menuvavigator ul {
 list-style-type:none
}
#menunavigator a {
 color:#333;
 display:inline-block;
 white-space:nowrap;
 min-width:33%;
 max-width:100%
}
#menunavigator li:hover {
 background:#eee
}
#menunavigator2 {
 font-size:16px;
 position:absolute;
 top:200%;
 right:10px;
 background:#fff;
 padding:6px;
 box-shadow:grey 0 0 4px;
 z-index:30
}
#menuvavigator2 ul {
 list-style-type:none
}
#menuvavigator2 li {
 list-style-type:none;
 border-bottom:1px dashed gray
}
#menunavigator2 a {
 color:#333;
 display:inline-block;
 white-space:nowrap;
 width:100%
}
#menunavigator2 li:hover {
 background:#eee
}
.searchbooktitle {
 line-height:1.5;
 display:block;
 margin:8px 0;
 font-size:14px
}
.searchbookauthor {
 line-height:1.5;
 display:block;
 margin:8px 0;
 font-size:12px;
 color:gray
}
.searchtag {
 display:inline-block;
 border:1px solid #737373;
 border-radius:4px;
 font-size:12px;
 font-weight:400;
 position:relative;
 padding:2px
}
input#id {
 height:50px;
 border-radius:20px;
 background:#efefef;
 border:none;
 padding:17px;
 padding-right:100px;
 margin:6px 0
}
input#id:focus+button+button+span>#searchbox {
 display:block
}
input#id:focus {
 border-radius:20px 20px 0 0;
 background-color:#fbfbfb
}
#searchbox {
 display:none;
 width:100%;
 border-radius:0 0 20px 20px;
 box-shadow:0 4px 4px #bbb9b9;
 position:absolute;
 left:0;
 top:0;
 background-color:#fff;
 z-index:10;
 height:240px;
 overflow-y:auto
}
.icb {
 border:none;
 margin:6px;
 background:0 0;
 width:80px;
 font-size:12px;
 color:#000;
 text-align:center
}
.icb img {
 width:60px;
 height:60px;
 display:inline-block
}
.switch {
 position:relative;
 display:inline-block;
 width:50px;
 height:26px;
 margin:6px
}
.switch input {
 opacity:0;
 width:0;
 height:0
}
.slider {
 position:absolute;
 cursor:pointer;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:#ccc;
 -webkit-transition:.4s;
 transition:.4s
}
.slider:before {
 position:absolute;
 content:"";
 height:18px;
 width:18px;
 left:4px;
 bottom:4px;
 background-color:#fff;
 -webkit-transition:.4s;
 transition:.4s
}
input:checked+.slider {
 background-color:#0ce724
}
input:focus+.slider {
 box-shadow:0 0 1px #2196f3
}
input:checked+.slider:before {
 -webkit-transform:translateX(23px);
 -ms-transform:translateX(23px);
 transform:translateX(23px)
}
.slider.round {
 border-radius:34px
}
.slider.round:before {
 border-radius:50%
}
.bpr_like {
 display:inline-block;
 background:0 0;
 padding:6px;
 text-align:center
}
.bpr_view {
 display:inline-block;
 background:0 0;
 padding:6px;
 text-align:center
}
#notifmarker {
 font-size:16px;
 margin-right:16px;
 position:relative;
 color:#7f7f7f
}
#notifmarker[havenotif]:after {
 content:attr(havenotif);
 position:absolute;
 display:block;
 background:#ff9d9d;
 font-size:14px;
 height:20px;
 width:20px;
 border-radius:50%;
 top:-8px;
 left:auto;
 right:-8px
}
.sec {
 width:100%;
 display:block;
 margin-bottom:8px
}
.sec-body {
 width:100%;
 border:1px solid #eee;
 padding:4px;
 background:#fff;
 border-radius:4px;
 border-bottom-left-radius:0;
 border-bottom-right-radius:0
}
.sec-top {
 font-size:14px;
 color:#333;
 padding:14px;
 border:1px solid #eee;
 border-radius:4px;
 border-bottom-left-radius:0;
 border-bottom-right-radius:0
}
.sec-top+.sec-body {
 border-top-left-radius:0;
 border-top-right-radius:0
}
.sec-body .img {
 width:calc(100% + 16px);
 margin:4px -8px
}
.sec-bot {
 font-weight:600;
 color:#333;
 font-size:16px;
 padding:4px;
 border:1px solid #eee;
 border-top-width:0
}
.blk {
 width:100%;
 display:block;
 margin-bottom:8px
}
.blk-body {
 width:100%;
 border:1px solid #eee;
 border-width:1px 0;
 padding:4px;
 background:#fff;
 border-bottom-left-radius:0;
 border-bottom-right-radius:0
}
.blk-top {
 font-size:14px;
 color:#333;
 padding:14px;
 border-top:1px solid #eee;
 background:#fff
}
.blk-body .img {
 width:100%;
 margin:4px 0
}
.blk-body .img-container {
 max-height:500px;
 overflow:hidden;
 margin:0 -12px
}
@media(min-width:768px) {
 .blk-top:first-child {
  border-radius:6px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0
 }
 .blk-body:first-child {
  border-radius:6px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0
 }
 .blk-bot:last-child {
  border-radius:6px;
  border-top-left-radius:0;
  border-top-right-radius:0
 }
}
.blk-body .blk-content {
 padding:8px;
 font-size:14px;
 color:#222
}
.blk-bot {
 font-weight:600;
 color:#333;
 font-size:16px;
 border-bottom:1px solid #eee;
 padding:0 4px;
 background:#fff
}
.actor {
 display:flex;
 padding:4px;
 line-height:1.2
}
.actor>img {
 width:50px;
 height:50px;
 border:1px solid #eee;
 border-radius:4px
}
.actor>div:nth-child(2) {
 width:100%;
 padding:4px;
 flex:1
}
.actor .time {
 color:gray;
 font-size:14px
}
.actor .name {
 font-weight:600;
 font-size:16px
}
.actor>div:nth-child(3) {
 width:50px
}
.comment-avatar {
 width:45px;
 height:45px;
 border-radius:4px;
 border:1px solid #dedede
}
.t-14 {
 font-size:14px
}
.t-16 {
 font-size:16px
}
.t-12 {
 font-size:12px
}
.t-20 {
 font-size:20px
}
.t-gray {
 color:gray
}
.t-blue {
 color:blue
}
.t-red {
 color:red
}
.bg-gray {
 background:#f9f9f9
}
.ilb {
 display:inline-block
}
.abs {
 position:absolute
}
.flex {
 display:flex
}
.p-4 {
 padding:4px
}
.ph-0 {
 padding-left:0;
 padding-right:0
}
.pv-0 {
 padding-top:0;
 padding-bottom:0
}
.seloption:hover {
 background:#d7d7d7
}
.seloption {
 cursor:pointer;
 padding:12px;
 font-size:16px;
 border-bottom:1px dashed #b6b6b6
}
@media(min-width:768px) {
 .h-md-0 {
  height:0
 }
}
.btn-grid-3 {
 display:flex;
 padding:0
}
.btn-grid-3>btn,
.btn-grid-3>a {
 -ms-flex:0 0 33.333333%;
 flex:0 0 33.333333%;
 max-width:33.333333%;
 font-size:12px;
 font-weight:600;
 color:#555;
 text-align:center;
 padding:10px 0;
 background:#fff;
 border:1px solid #adadad
}
.btn-grid-3>btn>i,
.btn-grid-3>a>i {
 font-size:20px
}
.window {
 font-family:sans-serif;
 font-weight:500;
 color:#3e3e3e;
 position:fixed;
 z-index:999;
 width:100vw;
 left:0;
 top:0;
 height:100vh;
 background:#00000030;
 overflow-y:scroll
}
.window [b] {
 font-weight:600
}
.window>div {
 overflow:hidden;
 border-radius:8px;
 position:relative;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
 width:500px;
 max-width:90vw;
 background:#fff
}
.window>div.full {
 width:100%;
 min-height:100vh;
 max-width:100%;
 top:0!important;
 left:0!important;
 transform:none;
 border-radius:0
}
@media(max-height:500px) {
 .window>div {
  -top:100px;
  -transform:translate(-50%,0%)
 }
}
@media(max-height:350px) {
 .window>div {
  -top:10px;
  -transform:translate(-50%,0%)
 }
}
.window .head {
 height:40px;
 overflow:hidden;
 background:#ededed;
 padding:8px;
 -padding-bottom:2px
}
.window .body {
 min-height:160px;
 max-height:calc(100vh - 50px);
 overflow-y:auto
}
.window>div.full>.body {
 max-height:calc(100vh - 40px)
}
.window input[type=text] {
 width:100%;
 border:none;
 border-bottom:1px dashed #000;
 outline:none;
 background:#f2f2f2;
 height:32px;
 padding:6px;
 font-size:16px;
 transition:all .3s
}
.window input[type=text]:focus {
 border-bottom:1px solid gray;
 background:#fff
}
.window textarea {
 width:100%;
 border:none;
 border-bottom:1px dashed #000;
 outline:none;
 background:#f2f2f2;
 min-height:120px;
 font-size:16px;
 padding:6px;
 transition:border-bottom .3s,background .3s
}
.window textarea:focus {
 width:100%;
 border-bottom:1px solid gray;
 background:#fff
}
.window input[type=checkbox][toggle] {
 outline:none;
 display:inline-block;
 position:relative;
 -webkit-appearance:none;
 height:24px;
 width:46px;
 border:2px solid gray;
 border-radius:12px;
 background:#fff;
 transition:all .2s
}
.window input[type=checkbox][toggle]:checked {
 background:#20fb20
}
.window input[type=checkbox][toggle]:after {
 content:"";
 display:block;
 position:absolute;
 left:2px;
 top:2px;
 width:16px;
 height:16px;
 -border:1px solid #000;
 border-radius:50%;
 background:#333;
 transition:all .2s
}
.window input[type=checkbox][toggle]:checked:after {
 left:24px;
 background:#fff
}
.window .roww {
 padding:8px;
 display:flex;
 white-space:nowrap
}
.window .roww:after {
 clear:both
}
.padder {
 flex:1
}
.dwindow [right]:before {
 content:" ";
 display:block;
 flex:1
}
.window input[type=checkbox][right] {
 margin-top:2px
}
.window .txt {
 -margin-top:3px
}
.window [sechead] {
 padding:8px;
 font-size:18px;
 border-bottom:1px solid #bebebe
}
.tag {
 border:1px solid gray;
 border-radius:8px;
 padding:4px;
 font-size:12px
}
.window button {
 font-weight:600;
 padding:2px 6px;
 font-size:14px;
 background:#eee;
 border:1px solid #dedede;
 color:#555;
 white-space:nowrap;
 max-height:25px;
 outline:none;
 border-radius:0
}
.window button.blue {
 background:#5959ff;
 color:#fff;
 border-color:blue
}
.window button.gray {
 background:#656565;
 color:#fff;
 border-color:#5b5b5b
}
.window button.red {
 background:#d40303;
 color:#fff;
 border-color:#fd0000
}
.window button.green {
 background:#59cc23;
 color:#fff;
 border-color:#03820f
}
.window button:active {
 outline:gray;
 outline-style:groove;
 outline-width:2px
}
.window .minimize,
.window .fuller,
.window .gotolink {
 float:right;
 font-size:20px;
 margin:-8px 0;
 padding:10px 14px 10px 16px;
 color:#999;
 transition:color .3s,background .3s;
 cursor:default
}
.window .closer {
 float:right;
 margin:-8px -8px 0 0;
 padding:10px 14px 10px 16px;
 font-size:20px;
 color:#999;
 transition:color .3s,background .3s;
 cursor:default
}
.window .minimize:hover,
.window .closer:hover,
.window .fuller:hover,
.window .gotolink:hover {
 color:#000;
 background:#c6c6c6
}
.window.minimize {
 display:none
}
.window iframe {
 max-height:inherit
}
#float-btn>button {
 border-radius:50%;
 height:50px;
 width:50px;
 background:rgba(234,234,234,.5);
 border:none;
 box-shadow:grey 0 0 3px;
 padding:0;
 opacity:1;
 display:block;
 margin-top:14px;
 color:#6564638a
}
@keyframes color-change {
 0% {
  color:red
 }
 20% {
  color:#ff8000
 }
 40% {
  color:#3adf00
 }
 60% {
  color:blue
 }
 80% {
  color:#bf00ff
 }
 100% {
  color:red
 }
}
@keyframes animatedgradient {
 0% {
  background-position:0% 50%
 }
 50% {
  background-position:100% 50%
 }
 100% {
  background-position:0% 50%
 }
}
a.item[l^="1"]:not([l="1"]):not([tag="1"]) {
 border:2px solid #b6b6b6
}
a.item[l^="1"]:not([l="1"]):not([tag="1"]):after {
 content:" ";
 display:block;
 width:28px;
 height:28px;
 background:radial-gradient(transparent,transparent,#b6b6b6)
}
a.item[l^="2"]:not([l="2"]):not([tag="1"]) {
 border:2px solid gold
}
a.item[l^="2"]:not([l="2"]):not([tag="1"]):after {
 content:" ";
 display:block;
 width:28px;
 height:28px;
 background:radial-gradient(transparent,transparent,gold)
}
a.item[l^="3"]:not([l="3"]):not([tag="1"]) {
 border:2px solid #ff00c8
}
a.item[l^="3"]:not([l="3"]):not([tag="1"]):after {
 content:" ";
 display:block;
 width:28px;
 height:28px;
 background:radial-gradient(transparent,#e08ee559,#ff00c8)
}
a.item[l^="4"]:not([l="4"]):not([tag="1"]) {
 border:2px solid red
}
a.item[l^="4"]:not([l="4"]):not([tag="1"]):after {
 content:" ";
 display:block;
 width:28px;
 height:28px;
 background:radial-gradient(transparent,#c5bf2273,#ff0000)
}
a.item[l="50"]:not([tag="1"]) {
 border:none;
 border-style:solid;
 border-width:2px;
 animation:color-change 5s infinite
}
a.item[l="50"]:not([tag="1"]):after {
 content:" ";
 display:block;
 width:28px;
 height:28px;
 opacity:.3;
 background:linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
 animation:animatedgradient 3s ease alternate infinite;
 background-size:300% 300%
}
