header{
    background-color: #ffffff !important;
}

header .header {
    background-color: #ffffff !important;
    padding-top: 30px;
    padding-bottom: 5px;
}

header .link{
    background: #f4f4f4;
}
.alert-error{
    
    background: red !important;
    background-repeat: no-repeat !important;
}
.toast-message{
    background-color: #0068e1 !important;
    color:#000 !important
}
body{
    background: #f4f4f4;
}

header .header-login{
    float: right;
    font-size: 14px !important;
    color: #004c1f;
    font-weight: bold;
}

header .btn-search{
    position: absolute;
    height: 36px;
    right: 0px;
    top: 0px;
    margin: 4px;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    border: none;
    background: #1CB15C;
    padding: 0px 8px;
}

header .navigation{
    background-color: #1CB15C !important;
    box-shadow: unset;
}

header .header .search input{
    background: #f4f4f4;
    font-size: 14px;
}

header .navigation a{
    color: #fff;
    font-weight: bold;
}

body{
    font-size: 14px;
}

.fa, .fas{
    font-weight: normal;
}

header .link{
    padding: 3px 0;
}

header .link a{
    font-size: 13px;
}

header .navigation{
    height: 37px;
}
.bookthumb{
     margin: 0 5px;
}
.img-user {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #f0f0f0;
    cursor: pointer;
    box-shadow: unset;
}

.f-right{
    float: right;
    position: relative;
}

.user-info{
    transform: unset !important;
    left: 40px !important;
    top: 40px !important;
}

.notification i {
    font-size: 16px;
    margin-right: 0px;
}

.user-info{
    margin-top: 10px !important;
    padding: 0 15px !important;
}

.dropdown-toggle:empty::after{
    display: none;
}

.dropdown-menu{
    z-index: 100000000;
}

footer{
    margin-top: 30px;
    background: #fff;
    color: #191919;
}

footer p{
    margin-bottom: 5px;
}

.copyright{
    background: #f4f4f4;
}

.user-info{
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.user-info span {
    line-height: 38px;
    font-size: 14px;
    margin: 45px 0px;
}

.user-info hr{
    margin: 0px !important;
}

.user-info li a {
    font-size: 14px;
    line-height: 38px;
}

a{
    color: #191919;
}
.chapreaded .text-success{
    color:#000 !important;
}
a:hover{
    color: #191919;
}

footer .online{
    background: #f4f4f4;
}
@media only screen and (max-width: 600px) {
    .recharge{
        padding-top: 110px !important;
    }
    .add{
        left: 80px;
    }
    .add .btn-success{
        margin-top: 10px;
        margin-left: 7px;
    }
    .slick-slide{
        width: 25% !important;
    }
    header .header .search{
        margin-top: 5px;
    }

    header .header .search input{
        padding: 0px 3px;
        font-size: 13px;
        height: 40px;
    }

    .div-logo{
        text-align: center;
        padding: 5px 0px;
    }

    .div-logo .logo{
        height: 40px;
        margin-right: 0px;
    }

    header .header{
        padding-top: 5px;
    }

    .hide-mobile{
        display: none;
    }

    .notification{
        padding: 0px 3px;
    }

    .img-user {
        height: 30px;
        width: 30px;
        margin: 0px;
    }

    header .btn-search{
        padding: 0px 15px;
        font-size: 13px;
        height: 32px;
    }

    header .link{
        text-align: center;
    }

    .content .home-section img {
          height: 100px !important;
          width: 100%;
          object-fit: cover;
          object-position: top;
    }

.content .home-section .home-header {
    padding: 10px 0;
}

}
.chapreaded a{
    color: gray;
}
.chaplastreaded {
     background: #b0b0b0;
 }
 .chaplastreaded a{
     color: white !important;
 }
.content .home-section{
    padding:0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.content .home-section .home-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 20px;
    background: linear-gradient(to bottom, #dff0df, #ffffff);
}

.home-header .fs-4{
    font-size: 16px !important;
    color: #004c1f;
    font-weight: bold;
}

table{
     min-width: 500px;
}
.content .home-section .home-header a, .update-header a{
    font-size: 14px;
    color: #004c1f;
    font-weight: bold;

}

.content .home-section img{
    border: none;
    border-radius: 4px;
}

.content .home-section img{
    height: 210px;
}

.bookthumb b{
    padding: 10px 0;
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #004c1f;
    font-weight: bold;
}

.chat-section, .update-section{
    background: #fff;
    border-radius: 6px;
    margin-bottom: 0px;
    padding: 10px;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

/*.update-section{*/
/*    margin-right: 10px;*/
/*}*/

.body-section .update-section .update-header .fs-4{
    font-size: 16px !important;
    color: #004c1f;
    font-weight: bold;
}

.body-section .col-md-8, .body-section .col-md-4{
    padding: 0px;
}

.body-section .update-section .update-header {
    padding: 12px 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.body-section .update-section li{
    background: #f4f4f49c;
}

.body-section .update-section li .time{
    margin-right: 5px;
}

.body-section .update-section li .title{
    color: #15984c;
}

.body-section .update-section li .title p{
    color: #2b2b2b;
    font-weight: bold;
}

.chat-section .chat-header .fs-4{
    font-size: 16px !important;
    color: #15984c;
}

.chat-section .chat-header hr{
    color: #b1b1b1;
    margin: 2px;
}

.body-section .chat-section .chat-body{
    min-height: 459px;
}

.body-section .chat-section .online-body .online-user p{
    margin-bottom: 2px;
}

.body-section .chat-section .online-body .online-user li{
    border-bottom: 1px solid #ebebeb;
}

.body-section .chat-section .online-header{
    border-radius: 6px;
    border-bottom: unset;
}

.body-section .chat-section .online-header span{
    font-size: 16px;
}

.body-section .chat-section .online-header{
    background-color: #f8f8f8;
}

/*Scroll User Online*/
.body-section .chat-section .online-body .online-user::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.body-section .chat-section .online-body .online-user::-webkit-scrollbar {
    width: 6px;
}

.body-section .chat-section .online-body .online-user::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144,147,153,.3);
}

.body-section .chat-section .online-body .online-user::-webkit-scrollbar-thumb:hover {
    background-color: #ced0d4;
}

/*Home Scroll*/

.home-scroll::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.home-scroll::-webkit-scrollbar {
    width: 6px;
}

.home-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144,147,153,.3);
}

.home-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ced0d4;
}

/*Body*/

body::-webkit-scrollbar-track{
    background-color: #ffffff;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144,147,153,.3);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ced0d4;
}

/*Scroll Modal*/
.modal-body::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(144,147,153,.3);
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #ced0d4;
}

/*SEARCH*/
#tm-p-search-top{
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.select-title {
    padding: 6px 12px;
    display: inline-block;
    min-width: 140px;
    font-size: 14px;
}

#sort, #type, #minc, #category, #tag, #count_chapter, #status {
    display: block;
}

#sort button, #type button, #minc button, #category button, #tag button, #bookstatus button, #count_chapter button, #status button{
    margin: 4px 2px;
    padding: 4px 6px;
    font-size: 14px;
}

.blk-arr {
    background: #e5e5e5;
    border-radius: 6px;
    padding: 0px 5px;
    position: relative;
}

.blk-arr::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    top: -18px;
    left: 20px;
    border-width: 9px;
    border-color: transparent transparent #e5e5e5 transparent;
    border-style: solid;
}

#tag {
    max-height: 160px;
    overflow: hidden;
}

.lhr.lhr {
    display: none;
}

#tm-p-search-top .btn{
    line-height: 20px;
}

.p-all{
    padding: 5px 12px;
}

.btn-find{
    background: #fbd455;
    color: #191919;
}

.input-group input, .input-group .select-title{
    font-size: 14px;
}

.input-group-append .form-control{
    font-size: 14px;
}

.info span {
    color: #2cb15b;
    padding: 1px 4px;
    font-size: 12px;
}

.story-search{
    background: #fff;
    border-radius: 6px;
    padding: 10px 15px;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.booksearch{
    padding: 0px;
    margin-bottom: 15px;
}

.booksearch img{
    width:100%;
    height:180px;
    border-radius: 6px;
    font-size: 12px;
}.contents{
     padding: 0;
}
@media only screen and (min-width: 600px) and (max-width: 777px) {
     header .dropdown{
          position: absolute;
          right: 0;
     }
}
@media only screen and (max-width: 600px) {
     header .dropdown{
          position: absolute;
          top: 15px;
          right: 0;
     }
     header .f-right{
          width: 100px;
          display: flex;
          justify-content: space-between;
     }
     .booksearch img{
        height: 120px;
    }
}

/*Pagination*/
.pagination .page-item a{
    padding: 7px 12px;
    margin: 0px 2px;
    background: #fff;
    border-radius: 4px;
}

.pagination .page-item.active a{
    background: #1CB15C;
    color: #fff;
}

.pagination .page-item a:hover{
    background: #1CB15C;
    color: #fff;
}

.searchtag{
    color: #fff;
    margin-right: 2px;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
}

button{
    outline: 0!important;
    box-shadow: none!important;
}

.header-find h2{
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.input-group .select-title{
    background-color: #f4f4f4;
}

.selected {
    background: #00BCD4;
}

.btn-check:focus+.btn-info, .btn-info:focus{
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.btn-info:active{
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.btn-find{
    font-size: 14px;
}

.searchbooktitle{
    font-size: 14px;
    margin: 5px 0px;
    color: #004c1f;
    font-weight: bold;
}

.return-customer-btn{
    background: #1CB15C;
    color: #fff;
}

.bg-story{
    background-color: #f4f4f4;
}

.bg-main-story{
    background: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 6px;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.story-name{
    font-size: 32px;
}

.img-story{
    width:240px;
    height:360px;
    border-radius: 6px;
    box-shadow: 0 0 24px silver;
}

.btn-comment{
    background: #1CB15C;
    color: #fff;
    outline: 0!important;
    box-shadow: none!important;
    height: 100%;
}

.comment .sec-bot{
    padding: 4px 0px;
}

.comment .sec-top {
    background-color: #fff;
    padding: 0px 5px;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border: none;
    font-size: 14px;
}

.comment .sec-bot{
    padding: 5px 5px;
    border: none;
}

.comment a{
    padding: 0px;
}

.comment-avatar{
    margin-top: 0px;
}

.comment .sec{
   padding-left: 5px;
}

.comment{
    margin: 12px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.btn-readmore-comment{
    background: #1CB15C;
    color: #fff;
}

.comment-title{
    font-size: 14px;
}

.chappter-link{
    color: #007a2b;
}

.main-list-user{
    margin-bottom: 50px;
    background: white;
    border-radius: 6px;
    min-height: 550px;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.text-right{
    text-align: right;
}

.btn-gt{
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    border: none;
    background: #1CB15C;
    padding: 6px 15px;
    font-size: 14px;
}
.listss{

    height: 25px;
    overflow: hidden;
}
.victory{
    background:url('/frontend/images/heart.gif');
    border-style: solid;
    border-width: 10px;
    font-weight: 900;
    background-size: cover;
    color: transparent;
    background-position: center;
}
.first{
    background:url('/frontend/images/first.gif');
    border-style: solid;
    border-width: 10px;
    font-weight: 900;
    background-size: cover;
    color: transparent;
    background-position: center;
}
.orderss{
    margin-top: 20px;
}
h2.text-center{
    padding-top: 20px;
}
.soxo{
    justify-content: space-between;align-items: center;
}
.second{
    background:url('/frontend/images/second.gif');
    border-style: solid;
    border-width: 10px;
    font-weight: 900;
    background-size: cover;
    color: transparent;
    background-position: center;
}
.winner{
    min-width:500px;
    width: 500px;
    margin: 0 auto;
    margin: 0 auto;
    border: 1px solid #ffeb3b;
}
.account-details .password{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}

.tt-login-form .border{
    border-radius: 6px;
}

.border-bottom{
    border-bottom: 1px solid #dee2e6!important;
}


.bkl {
    width: 90px;
    padding: 12px;
}
.bkl img{
    height: 100%;
    width: 100%;
}
.bkr {
    color: black;
    padding: 6px;
    font-size: 12px;
}
.bkr b {
    text-transform: capitalize;
    font-size: 16px;
}
.btnbl {
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    padding: 4px 12px;
    background: none;
}

.main-list-user{
    border-bottom: 1px solid #e9e9e9;
}

.main-list {
    margin-top: 30px;
    margin-bottom: 50px;
    background: white;
    border-radius: 6px;
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
    min-height: 550px;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
}

.img-list{
    padding: 0px 10px;
}

.img-list img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

body{
    padding-right: 0px !important;
}

.paginate{
    text-align: center;
    width: 100%
}

.paginate nav{
    display: inline-block;
}

.main-list-user .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 35px !important;
}

.main-list-user .select2-container .select2-selection--single{
    height: 36px;
}

.form-control{
    font-size: 13px;
}
#image_url{
    cursor: pointer;
    border: 1px solid #fbd455e8;
    border-radius: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #fbd455;
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    color: #fff;
}

.list-group-item{
    border: 1px solid rgb(120 120 120 / 10%);
}

.tt-chapter{
    border-bottom: 1px dashed #eee;
    padding: 7px 0;
    height:37px;
    overflow: hidden;
}

.contentbox i, i {
    font-style: normal;
    position: relative;
}


@media only screen and (max-width: 600px) {
    .orderss{
        margin-top: 0px;
    }
    .soxo{
        display: block !important;
        justify-content: space-between;align-items: center;
    }
    .soxo a{
        position: absolute;
        top: 0;
        right: 10px;
    }

    .ordered{
        margin-top: 10px;
    }
     .logins{
          position: absolute;
          top: 15px;
          right: 0;
      }
    .w-150{
        display: block;
        width: 150px !important;
    }

    .w-100{
        display: block;
        width: 100px !important;
    }

    .w-50{
        display: block;
        width: 100% !important;
    }
}
.slick-slide a{
     width: 105px;
     height: 222px;
}
.slick-slide b{
     font-weight: 500;
}
.body-section .update-section li{
     height: auto;
}
.namewd {
    z-index: 100;
    background-color: #fff;
    visibility: hidden;
    position: fixed;
    right: 0;
    border: 1px solid gray;
    top: 0;
    min-width: 360px;
    width: 20%;
    height: 411px;
}
#namewd {
    height: 130px;
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    font-size: 12px;
}
button.toolbar {
    float: left;
    border-radius: 0;;
    border: none;;
    margin: 2px;;
    background: 0 0;
    border-bottom: 2px solid gray;
    padding: 3px;
    font-size: 14px;
}
.icb {
    border: none;
    margin: 6px;
    background: 0 0;
    width: 80px;
    font-size: 12px;
    color: #000;
    text-align: center;
}
.icb img {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.cgcolor {
    border: 1px solid gray;
    width: 20px;
    font-size: 20px;
    height: 20px;
    display: inline-block;
}
.cgcolor {
    font-size: 15px;
    line-height: 1.2;
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.tt-banner-main .img-banner-main{
    min-height: 150px;
    max-height: 150px !important;
    border-radius: 4px;
    width: 100%;
}

.main-list{
    min-height: 500px;
}

.main-list .post-index{
    padding: 5px 0px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}

.main-list .post-index p{
    font-size: 13px;
    margin-bottom: 0px;
}

.home-content{
    padding: 0px 26px;
}

@media only screen and (max-width: 600px) {
    .box-card-story{
        width: 100% !important;
        display: block;
    }

    .arrow-location-center-02 .slick-arrow, .arrow-location-center-02 .slick-arrow:active{
        width: 28px;
        height: 28px;
        top: 46%;
    }

    .arrow-location-center-02 .slick-prev:before {
        content: '←';
        margin-right: 2px;
        margin-left: 1px;
    }

    .arrow-location-center-02 .slick-next:before {
        content: '→';
        margin-left: -3px;
        margin-right: -3px;
    }

    .body-section .update-section li .time{
        bottom: 0px;
    }

    .time p{
        font-size: 13px;
        margin-bottom: 2px;
    }

    .time i{
        font-size: 13px;
    }

    .body-section .update-section .update-header .fs-4 {
        font-size: 14px !important;
    }

    .bookthumb {
        margin: 0px;
        padding-left: 0px;
    }

    .home-section .col-xs-4, .home-section .col-4{
        padding: 4px;
    }

    .home-section .row{
        margin: 0px;
    }

    .row .col-lg-12{
        padding: 2px;
    }

    .home-header .fs-4 {
        font-size: 14px !important;
    }

    .content .home-section .home-header{
        padding: 10px 10px;
    }

    .mobile-padding .col-sm-6, .mobile-padding .col-md-6{
        padding: 4px;
    }

    .chat-section, .update-section{
        padding: 3px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 330px){
    .content .home-section .home-header span {
        width: 70%;
    }
}

/*BTN - LOADNG*/
.btn-loading {
    position: relative;
    color: transparent !important;
}
.btn-loading:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    width: 16px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spinAround 600ms infinite linear;
    animation: spinAround 600ms infinite linear;
}
.btn-loading.btn-default:after {
    border: 2px solid #0068e1;
    border-right-color: transparent;
    border-top-color: transparent;
}

.white{
    color: #fff;
}

.body-section .update-section li .time p{
    margin-bottom: 0px;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
